on: { push: { branches: [master] } }

jobs:
  build:
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - name: Get code
        uses: actions/checkout@v2
      - name: Setup environment
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable
      - name: Build binary
        run: cargo build --release
      - name: Create Release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # TODO: parse cargo.toml
          tag_name: '1.0.0'
          draft: false
          prerelease: false
      - name: Upload Release
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # This pulls from the CREATE RELEASE step above,
          # referencing it's ID to get its outputs object,
          # which include a `upload_url`.
          # See this blog post for more info:
          # https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          upload_url: ${{ steps.create-release.outputs.upload_url }} 
          asset_path: .\target\release\reversi_bot.exe
          asset_name: reversi_bot_win64.zip
          asset_content_type: application/zip
